name: Flutter Lint

on:
  pull_request:
    branches:
      - feature/*
      - main
      - develop

jobs:
  analyze:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
    
      - name: Flutter Clean
        run: flutter clean

      - name: Install dependencies
        run: flutter pub get

      - name: Run flutter analyze
        run: flutter analyze